@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .header--inside {
    @apply text-base min-[400px]:text-[20px] flex gap-4 items-center;
  }

  .filtrers {
    @apply flex gap-3 overflow-auto border-y-2 py-2;
  }
  .filters--button {
    @apply rounded-full border-2 p-2 py-0 flex gap-2 items-center flex-shrink-0;
  }
  .cardscontainer {
    @apply flex flex-col gap-2 lg:w-[40%] lg:flex-row  lg:flex-wrap  lg:gap-4 lg:mr-[50px] xl:mr-[270px] xl:w-[80%];
  }
  .testcard {
    @apply flex p-2 justify-between border-2 rounded xlg:basis-[32%] lg:p-4 lg:basis-[20%];
  }
  .title {
    @apply text-black text-[20px];
  }
  .description {
    @apply text-[#909090];
  }
  .text {
    @apply flex flex-col w-[50%] justify-around;
  }
  .product--image {
    @apply w-[40%];
  }
  .new {
    @apply flex gap-3 text-darkgray text-sm;
  }
  .sidediv {
    @apply py-4 text-sm border-b-2 text-black;
  }
  .custom-scroll {
    max-height: 800px;
    overflow-y: auto;
  }
  span {
    @apply cursor-pointer;
  }
}
@layer utilities {
  @variants responsive {
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}
